.topbar {
  background-color: #f5d91d;
  height: 45px;
}

.contacts-socials {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  color: #343a40;
}

.phone-contact-link {
  margin-left: 20px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fb-social-link {
  margin-right: 20px;
}

.social-link {
  font-size: 20px;
  text-decoration: none;
  color: #343a40;
}

/* .nav-link {
  display: inline;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}

.contact {
  padding: 10px 5px;
} */
