.fcom {
  display: flex;
  flex-direction: column;
}

.fcom-head {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.cards {
  display: block;
  margin: 15px auto;
}

.cardItem {
  flex-direction: row;
  margin: 30px 5px;
  border-radius: 20px;
}

.cardBody {
  padding: 20px 40px;
}
.cardImage {
  height: 75px;
  width: auto;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.cardButton {
  background-color: #f5d91d;
  border-color: #f5d91d;
  color: black;
  font-weight: 300;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.recent-bottom-border {
  width: 100px;
  display: block;
  border: 2px solid #f5d91d;
  height: 2px;
  margin: 0 auto;
}
